.top1{
    border:solid blue;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: right;
    gap: 20px;
    font-weight: bold;
    padding-right: 40px;
    
}

.top2{
    background-color: yellow;
    color: blue;
    border: none;
    text-align: center;
    padding: 3px;
    
}

.top3{
    background-color: blue;
    color: aliceblue;
    justify-content: space-around;
    display: flex;
    font-weight: bold;
}

.search{
    bottom: solid white;
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    font-weight: bold;
    justify-content: space-around;

}
.navbar{
    position: sticky;
    top: 0;
}
.img1{
    border: solid;
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 25px;
}

.signup{
    background-color: lightgray;
    text-align: center;
    padding: 30px;

}
.footer{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.order{
    display: flex;
    justify-content: space-evenly;
}