.top1 {
    border: solid blue;
    background-color: blue;
    color: aliceblue;
    display: flex;
    justify-content: right;
    gap: 20px;
    font-weight: bold;
    padding-right: 40px;

}

.top2 {
    background-color: yellow;
    color: blue;
    border: none;
    text-align: center;
    padding: 3px;

}

.top3 {
    background-color: blue;
    color: aliceblue;
    justify-content: space-around;
    display: flex;
    font-weight: bold;
}

.search {
    bottom: solid white;
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    padding: 20px;
    font-weight: bold;
    justify-content: space-around;

}

.navbar {
    position: sticky;
    top: 0;
    
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    animation: slide 16s infinite;

}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.slides {
    


    /* /* width: 100%;
    height: 100%; */
    overflow: hidden; */
    
}

@keyframes slide {
      0%   { margin-left: 0%; }
      20%  { margin-left: 0%; }

      25%  { margin-left: -100%; }
      45%  { margin-left: -100%; }

      50%  { margin-left: -200%; }
      70%  { margin-left: -200%; }

      75%  { margin-left: -300%; }
      95%  { margin-left: -300%; }

      100% { margin-left: 0%; }
    }



.img1 {
    border: solid;
    background-color: antiquewhite;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
    padding-top: 25px;
}

.signup {
    background-color: lightgray;
    text-align: center;
    padding: 30px;

}

.footer {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.order {
    display: flex;
    justify-content: space-evenly;
}

.image {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}